@import "./variables.scss";

.search-bar {
  max-width: 1200px;
  margin: 0 auto;
  padding: $search-bar-padding;
  &__input {
    width:100%;
    height: $input-height;
    border: none;
    font-size: 1rem;
    text-align: center;
    background-color: #ffffffbd;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
                0 3px 6px rgba(0, 0, 0, 0.23);
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 1rem;
    }
  }
}