.pokemon-item {
  &__card {
    background-color: white;
    border-radius: 4px;
    height: 350px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
                0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: capitalize;
  }
}