.pokemon-item {
  &__card {
    background-color: white;
    border-radius: 4px;
    height: 350px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
                0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
  }
  &__tags {
    margin-top: 15px;
    margin-left: 15px;
  }
  &__tag {
    font-size: 0.9rem;
    margin-right: 5px;
    border: #656565 solid 1px;
    border-radius: 5px;
    padding: 5px;
    display: inline;
    color: #656565;
    text-transform: uppercase;
  }
  &__parent {
    margin-top: 15px;
    margin-left: 15px;
    display:flex;
  }
  &__bar {
    width: 4px;
    background-color: #3D1E10;
  }
  &__info {
    padding-left: 5px;
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 200;
    color: #656565;
  }
  &__parent-name{
    font-size: 1.5rem;
    font-weight: 400;
  }
}